Ver_0_0_3/Virtuel_enviroment/

Tests_convergence/output/


Tests_comparison/openstudio_case1/Comparison
Tests_comparison/openstudio_case2/Comparison
Tests_comparison/openstudio_case3/Comparison
Tests_comparison/openstudio_case3_timing


Tests_comparison/plots_case1
Tests_comparison/plots_case2
Tests_comparison/plots_case3


.vs/

Tests_raytracing/output

Tests_raytracing/Triangles_3500__Points_4
Tests_raytracing/Triangles_3500__Points_16
Tests_raytracing/Triangles_3500__Points_64
Tests_raytracing/Triangles_3500__Points_256
Tests_raytracing/Triangles_3500__Points_1024
Tests_raytracing/Triangles_3500__Points_4096
Tests_raytracing/Triangles_3500__Points_16384
Tests_raytracing/Triangles_3500__Points_65536
Tests_raytracing/Triangles_3500__Points_262144
Tests_raytracing/Triangles_3500__Points_1048576
Tests_raytracing/Triangles_14000__Points_4
Tests_raytracing/Triangles_14000__Points_16
Tests_raytracing/Triangles_14000__Points_64
Tests_raytracing/Triangles_14000__Points_256
Tests_raytracing/Triangles_14000__Points_1024
Tests_raytracing/Triangles_14000__Points_4096
Tests_raytracing/Triangles_14000__Points_16384
Tests_raytracing/Triangles_14000__Points_65536
Tests_raytracing/Triangles_14000__Points_262144
Tests_raytracing/Triangles_14000__Points_1048576
Tests_raytracing/Triangles_56000__Points_4
Tests_raytracing/Triangles_56000__Points_16
Tests_raytracing/Triangles_56000__Points_64
Tests_raytracing/Triangles_56000__Points_256
Tests_raytracing/Triangles_56000__Points_1024
Tests_raytracing/Triangles_56000__Points_4096
Tests_raytracing/Triangles_56000__Points_16384
Tests_raytracing/Triangles_56000__Points_65536
Tests_raytracing/Triangles_56000__Points_262144
Tests_raytracing/Triangles_56000__Points_1048576
Tests_raytracing/Triangles_224000__Points_4
Tests_raytracing/Triangles_224000__Points_16
Tests_raytracing/Triangles_224000__Points_64
Tests_raytracing/Triangles_224000__Points_256
Tests_raytracing/Triangles_224000__Points_1024
Tests_raytracing/Triangles_224000__Points_4096
Tests_raytracing/Triangles_224000__Points_16384
Tests_raytracing/Triangles_224000__Points_65536
Tests_raytracing/Triangles_224000__Points_262144
Tests_raytracing/Triangles_224000__Points_1048576
Tests_raytracing/Triangles_896000__Points_4
Tests_raytracing/Triangles_896000__Points_16
Tests_raytracing/Triangles_896000__Points_64
Tests_raytracing/Triangles_896000__Points_256
Tests_raytracing/Triangles_896000__Points_1024
Tests_raytracing/Triangles_896000__Points_4096
Tests_raytracing/Triangles_896000__Points_16384
Tests_raytracing/Triangles_896000__Points_65536
Tests_raytracing/Triangles_896000__Points_262144
Tests_raytracing/Triangles_896000__Points_1048576